{% from "songs/table.html" import song_table %}
{% extends "layout.html" %}
{% block page %}

 <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">

	<div class="header">
		<div class="breadcrumbs">
			<a href="/" class="crumb">SoundFront</a>
			<div class="crumb-separator">›</div>
			<div class="crumb">Home</div>
		</div>
	</div>

  <div class="searchbar">
  <form action="{{ url_for('index.search') }}" method="post">
    <input class="searchbarinput" placeholder="Search by Album or Song Name..." name="searchform">
  </form>
  </div>

  	<!-- Top Rated Albums -->
 	<div id="top-rated">
 		<div class="top">
 			<div class="top-name">Top Rated Albums</div>
 			<div class="top-select">
 				<input type="checkbox" name="album-time-frame" id="album-year" class="top-select-item"/>
 				<label class="top-select-item" for="album-year">
 					<a id="album-year-link" href="/?album_frame=year&song_frame={{song_frame}}">1 year</a>
 				</label>

 				<input type="checkbox" name="album-time-frame" id="album-month" class="top-select-item"/>
 				<label class="top-select-item" for="album-month">
 					<a id="album-month-link" href="/?album_frame=month&song_frame={{song_frame}}">30 days</a>
 				</label>

 				<input type="checkbox" name="album-time-frame" id="album-week" class="top-select-item"/>
 				<label class="top-select-item" for="album-week">
 					<a id="album-week-link" href="/?album_frame=week&song_frame={{song_frame}}">7 days</a>
 				</label>

 				<input type="checkbox" name="album-time-frame" id="album-day" class="top-select-item"/>
 				<label class="top-select-item" for="album-day">
 					<a id="album-day-link" href="/?album_frame=day&song_frame={{song_frame}}">24 hours</a>
 				</label>
 			</div>
 		</div>

 		<div class="albums">
		{% for album in top_rated_albums %}
			<a class="album-link" href="{{ '/albums/%s'%album.AlbumID }}">
				<div class="album">
					<img class="album-art" src="{{ album.AlbumArt }}">
					<div class="album-title">{{album.Title}}</div>
					<div class="album-artist">{{album.DisplayName}}</div>
				</div>
			</a>
		{% endfor %}
		</div>
 	</div>

 	<!-- Top Rated Songs -->
 	<div id="top-rated">
 		<div class="top">
 			<div class="top-name">Top Rated Songs</div>
 			<div class="top-select">
 				<input type="checkbox" name="song-time-frame" id="song-year" class="top-select-item"/>
 				<label class="top-select-item" for="song-year">
 					<a id="song-year-link" href="/?album_frame={{album_frame}}&song_frame=year">1 year</a>
 				</label>

 				<input type="checkbox" name="song-time-frame" id="song-month" class="top-select-item"/>
 				<label class="top-select-item" for="song-month">
 					<a id="song-month-link" href="/?album_frame={{album_frame}}&song_frame=month">30 days</a>
 				</label>

 				<input type="checkbox" name="song-time-frame" id="song-week" class="top-select-item"/>
 				<label class="top-select-item" for="song-week">
 					<a id="song-week-link" href="/?album_frame={{album_frame}}&song_frame=week">7 days</a>
 				</label>

 				<input type="checkbox" name="song-time-frame" id="song-day" class="top-select-item"/>
 				<label class="top-select-item" for="song-day">
 					<a id="song-day-link" href="/?album_frame={{album_frame}}&song_frame=day">24 hours</a>
 				</label>
 			</div>
 		</div>
 		{{ song_table(top_rated_songs, cart) }}
 	</div>

 	<!-- Import JQuery -->
 	<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
 			integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
 			crossorigin="anonymous"></script>
 	<script type="text/javascript">
 		var url_string = window.location.href;
 		var url = new URL(url_string);
 		
 		var album_frame = url.searchParams.get("album_frame") || "year";
 		var song_frame = url.searchParams.get("song_frame");

 		switch (album_frame) {
 			case "year":
 				$('#album-year').prop('checked', true);
 				break;
 			case "month":
 				$('#album-month').prop('checked', true);
 				break;
 			case "week":
 				$('#album-week').prop('checked', true);
 				break;
 			case "day":
 				$('#album-day').prop('checked', true);
 				break;
 			default:
 				$('#album-year').prop('checked', true);
 				break;
 		}

 		switch (song_frame) {
 			case "year":
 				$('#song-year').prop('checked', true);
 				break;
 			case "month":
 				$('#song-month').prop('checked', true);
 				break;
 			case "week":
 				$('#song-week').prop('checked', true);
 				break;
 			case "day":
 				$('#song-day').prop('checked', true);
 				break;
 			default:
 				$('#song-year').prop('checked', true);
 				break;
 		}


 		$("input.top-select-item").change(function() {
			$("input.top-select-item").prop('checked',false);
			$(this).prop('checked',true);
		});
 	</script>


 	<!-- Recently Added Albums -->
	<div id="recently-added">
		<div class="top">
			<div class="top-name">Recently Added Albums</div>
			<div class="top-view-more"><a class="album-link" href="/albums">view more</a></div>
		</div>

		<div class="albums">
		{% for album in recent_albums %}
			<a class="album-link" href="{{ '/albums/%s'%album.AlbumID }}">
				<div class="album">
					<img class="album-art" src="{{ album.AlbumArt }}">
					<div class="album-title">{{album.Title}}</div>
					<div class="album-artist">{{album.DisplayName}}</div>
				</div>
			</a>
		{% endfor %}
		</div>
	</div>

	<!-- Most Critical Users -->
 	<div id="critical-users">
 		<div class="top">
 			<div class="top-name">Most Critical Users</div>
 		</div>
 		<!-- <marquee> -->
	 		<div class="users">
	 			{% for user in most_critical_users %}
		 			<div class="user">
		 				<a href="{{ '/users/%s'%user.UserID }}">
		 					<div class="user-name">
		 						{{ user.DisplayName }}
		 					</div>
		 				</a>
		 				<div class="user-info">
		 					Average Rating: {{ user.AverageRating | round(2) }}
		 				</div>
		 			</div>
	 			{% endfor %}
	 		</div>
 		<!-- </marquee> -->
 	</div>

{% endblock %}
