{% extends "layout.html" %}
{% block page %}

 <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">


	<div id="recently-added">
		<div class="top"> 
			<div class="top-name">Recently Added</div>
			<div class="top-view-more"><a class="album-link" href="/album">view more</a></div>
		</div> 
	
		<div class="albums">
		{% for album in albums %}
			<a class="album-link" href="{{ '/albums/%s'%album.AlbumID }}">
				<div class="album">
					<div class="album-art">
						<img src="https://placekitten.com/g/150/150">
					</div>
					<div class="album-title">{{album.Title}}</div>
					<div class="album-artist">{{album.DisplayName}}</div>
				</div>
			</a>
		{% endfor %}
		</div>
	</div>

{% endblock %}
