<div id="navbar">
  <div class="nav-body">
    <div class="nav-left">
      <a id="logo" href="/">SoundFront</a>
      <a class="nav-link" href="/users">Users</a>
      <a class="nav-link" href="/songs">Songs</a>
      <a class="nav-link" href="/albums">Albums</a>
      <a class="nav-link" href="/tags">Tags</a>
    </div>
    <div class="nav-right">
      {% if session['user_id'] %}
      <a class="nav-profile" href="/users/{{ session['user_id']}}">My Profile</a>
      <a class="nav-cart" href="/cart">My Cart</a>
      <a href="/auth/logout">Logout</a>
      {% else %}
      <a href="/auth/login">Login</a>
      {% endif %}
    </div>
  </div>
</div>
