{% extends "layout.html" %} {% block page %}

<h1>{{ user.DisplayName }}'s Profile</h1>

<h2>Albums</h2>
<div class="albums">
  {% for album in albums %}
  <a class="album-link" href="{{ '/album/%s' % album.AlbumID }}">
    <div class="album">
      <div class="album-art">
        <img src="https://placekitten.com/g/150/150" />
      </div>
      <div class="album-title">{{ album.Title }}</div>
      <div class="album-artist">{{ album.DisplayName }}</div>
    </div>
  </a>
  {% endfor %}
</div>

<h2>Songs</h2>

{% with songs=songs %}
  {% include "songs/table.html" %}
{% endwith %}

{% endblock %}
