{% from "songs/table.html" import song_table %}
{% from "albums/table.html" import album_table %}
{% extends "layout.html" %} {% block page %}

<div class="header">
  <div class="breadcrumbs">
    <a href="/" class="crumb">SoundFront</a>
    <div class="crumb-separator">›</div>
    <a href="/users" class="crumb">Users</a>
    <div class="crumb-separator">›</div>
    <div class="crumb">{{ user.DisplayName }}</div>
  </div>
</div>

<div class="profile">
  <div class="profile-left">
    <div class="avatar"></div>
    <div class="description">
      <div class="desc-item">
        <b>Name: </b> {{ user.DisplayName }}
      </div>
      <div class="desc-item">
        <b>Joined:</b> {{ user.JoinDate.strftime("%m/%d/%Y") }}
      </div>
      <div class="desc-item">
        <b>Last logged in:</b> {{ user.LastLoginDate.strftime("%m/%d/%Y") }}
      </div>
    </div>

    {% if isfollowing %}
      <form action="/users/{{user.UserID}}/unfollow" method="post">
        <button class="button" type="submit">Unfollow</button>
      </form>
    {% else %}
      <form action="/users/{{user.UserID}}/follow" method="post">
        <button class="button" type="submit">Follow</button>
      </form>
    {% endif %}

    <div class="followers">
      <h2>Followers</h2>
      {% for user in followers %}
        <div class="user">
            <a href="/users/{{ user.UserID }}">{{ user.DisplayName }}</a>
        </div>
      {% endfor %}
    </div>
    <div class="following">
      <h2>Following</h2>
      {% for user in following %}
        <div class="user">
            <a href="/users/{{ user.UserID }}">{{ user.DisplayName }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="profile-right">
    <div class="profile-albums">
      <h2>Albums</h2>
      {% if albums == [] %}
        <div class="none">User has no albums</div>
      {% else %}
      <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">

      <div class="albumsidpage">
      	{% for album in albums %}
      		<a class="album-link" href="{{ '/albums/%s'%album.AlbumID }}">
      			<div class="album">
      				<img class="album-art" src="{{ album.AlbumArt }}">
      				<div class="album-title">{{album.Title}}</div>
      				<div class="album-artist">{{album.DisplayName}}</div>
      			</div>
      		</a>
      	{% endfor %}
      </div>

      {% endif %}

    </div>
    <div class="profile-songs">
      <h2>Songs</h2>
      {% if songs == [] %}
        <div class="none">User has no songs</div>
      {% else %}
        {{ song_table(songs, cart) }}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
