{% from "songs/table.html" import song_table %}
{% extends "layout.html" %} {% block page %}

<div class="header">
  <div class="breadcrumbs">
    <a href="/" class="crumb">SoundFront</a>
    <div class="crumb-separator">›</div>
    <a href="/users" class="crumb">Users</a>
    <div class="crumb-separator">›</div>
    <div class="crumb">{{ user.DisplayName }}</div>
  </div>
</div>
<h2>Albums</h2>
<div class="albums">
  {% for album in albums %}
  <a class="album-link" href="{{ '/albums/%s' % album.AlbumID }}">
    <div class="album">
      <div class="album-art">
        <img src="https://placekitten.com/g/150/150" />
      </div>
      <div class="album-title">{{ album.Title }}</div>
      <div class="album-artist">{{ album.DisplayName }}</div>
    </div>
  </a>
  {% endfor %}
</div>

<h2>Songs</h2>

{{ song_table(songs) }}

{% endblock %}
