{% extends "layout.html" %} {% block page %}

<div class="table">
  <div class="header-row">
    <div class="header-col">Name</div>
    <div class="header-col"></div>
  </div>

  {% for user in users %}
  <div class="row">
    {{ user.DisplayName }}
  </div>
  {% endfor %}

  <div class="pagination-bar">
    {% if current_page-1 > 0 %}
    <a href="/users?page={{ current_page - 1}}" class="button">
      <div class="pagination-button">Previous</div>
    </a>
    {% endif %}
    <a href="/users?page={{ current_page + 1}}" class="button">
      <div class="pagination-button">Next</div>
    </a>
  </div>
</div>

{% endblock %}
