{% extends "layout.html" %} {% block page %}

<div class="table">
  <div class="header-row">
    <div class="header-col">Name</div>
    <div class="header-col"></div>
  </div>

  {% for user in users %}
  <div class="row">
    <a href="/users/{{ user.UserID }}">
      {{ user.DisplayName }}
    </a>
  </div>
  {% endfor %}

  {% if current_page-1 > 0 %}
  <a href="/users?page={{ current_page - 1}}" class="button">Previous Page</a> |
  {% endif %}
  <a href="/users?page={{ current_page + 1}}" class="button">Next Page</a>
</div>

{% endblock %}
