{% from "pagination.html" import pagination_bar, add_button %} 
{% extends "layout.html" %} {% block page %}

<div class="header">
  <div class="breadcrumbs">
    <a href="/" class="crumb">SoundFront</a>
    <div class="crumb-separator">›</div>
    <a href="/users" class="crumb">Users</a>
  </div>
</div>

<table class="table">
  <tr class="header-row row" colspan="2">
    <th class="header-col col">Name</th>
    <th class="header-col col"></th>
  </tr>

  {% for user in users %}
  <tr class="row">
    <td class="col">
      <a href="/users/{{ user.UserID }}">
        {{ user.DisplayName }}
      </a>
    </td>
    <td class="col"></td>
  </tr>
  {% endfor %}

</table>

{{ pagination_bar(pagination_data.href, pagination_data.page) }}

{% endblock %}
