#recently-added {
	margin-top: 15px;
}

#top-rated {
	margin-top: 32px;
}

.top {
	display: flex;
	height: 40px;
	border-bottom-width: 1px;
	border-bottom-color: #E6EDF4;
	border-bottom-style: solid;
	padding-left: 1px;
	padding-right: 1px;
}

.top-name {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 15px;
}

.top-select {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.top-select input[type=checkbox] {
	display: none;
}

.top-select-item {
	height: 17px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    color: #7D8998;
}
.top-select input[type=checkbox]:checked + .top-select-item {
	background-color: #E6EDF4;
	border-bottom-width: 0px;
	border-bottom-color: #E6EDF4;
	border-bottom-style: solid;
	border-radius: 2px;
	color: black;
}
.top-select-item a {
	color: inherit;
}

.top-view-more {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 12px;
	color: #7D8998;
}
