*,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #7d8998;
}

.page {
  width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #5d309a;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
a:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

label {
  display: block;
}

a.button,
button {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #e6edf4;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #5d309a;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  flex: 0 0 auto;
  white-space: nowrap;
}

button:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

button:focus {
  outline: none;
}

.pagination-bar {
  width: 150px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.pagination-button {
  height: 30px;
  line-height: 30px;
  width: 70px;
  border: 1px solid #e6edf4;
  border-radius: 2px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.add-button {
  min-width: 100px;
}

#navbar {
  height: 55px;
  margin: 0px;
  background: #9182ba;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a {
  color: white;
}

.nav-body {
  width: 1200px;
  padding: 42px 12px;
  display: flex;
  justify-content: space-between;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-profile {
  margin-right: 12px;
}

.nav-cart {
  margin-right: 12px;
}


#logo {
  opacity: 1;
  font-size: 20px;
  margin-right: 12px;
}

.nav-link {
  margin-left: 24px;
}

.flashes {
  background: #ffd2d2;
  border: 1px solid #ff0101;
  padding: 12px;
  list-style-type: none;
  margin-bottom: 32px;
  margin-top: 18px;
}

.form {
  margin-top: 32px;
  padding-bottom: 150px;
}

form > input,
select,
textarea {
  margin-bottom: 20px;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 12px;
}

.form > button {
  display: block;
  cursor: pointer;
  margin-top: 12px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #9182ba;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.table {
  margin-top: 24px;
  width: 100%;
  table-layout: auto;
}

.header-row {
  font-size: 15px;
  padding-bottom: 15px;
}

.row {
  width: 100%;
  padding: 8px 0px;
  color: #7d8998;
  display: flex;
  text-align: left;
  border-bottom: 1px solid #e6edf4;
}

.col {
  height: 40px;
  width: 10%;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0px 8px;
  flex: 1 1 auto;
}

.col:last-of-type {
  justify-content: flex-end;
}

.item-row {
}

h2 {
  margin: 0px;
  margin-bottom: 32px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e6edf4;
}

.breadcrumbs {
  font-size: 16px;
  display: flex;
}

.crumb-separator {
  margin: 0px 12px;
}

.header {
  margin-top: 32px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-song .col:first-of-type {
  flex: 1 0 300px;
}

.table-song .col:nth-child(2) {
  flex: 0 0 100px;
}

.table-song .col:nth-child(3) {
  flex: 0 0 150px;
}

.table-song .col:nth-child(4) {
  flex: 0 0 100px;
}

.table-song .col:nth-child(5) {
  flex: 0 0 75px;
}

.table-song .button {
  margin-left: 8px;
}

h2 {
  font-size: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.tags-link {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 6px;
  margin-bottom: 6px;
  background: rgb(0, 0, 0, 0.05);
}

.albumidpage {
    margin-top: 25px;
    padding-bottom: 0px;
    float:left;
}

input.hidden {
  display: none;
}

.table-price > .col:last-of-type {
  text-align: right;
}

.profile {
  display: flex;
  margin-top: 42px;
}

.avatar {
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.05);
}

.description {
  margin-top: 32px;
}

.desc-item {
  margin-top: 8px;
}

.profile-left {
  margin-right: 32px;
  width: 250px;
}

.profile-right {
  flex: 1 1 auto;
}

.profile-songs {
  margin-top: 32px;
}

.profile .none {
  opacity: 0.8;
}

.followers {
  margin-top: 32px;
}

.profile .user {
  margin-top: 8px;
}

.following {
  margin-top: 32px;
}

.album-create-link {
  margin-bottom: 18px;
}

.song-detail-description {
  margin-top: 32px;
}

.song-description {
  margin-bottom: 42px;
}

.details {
  margin-top: 32px;
}

.album-description {
  border-top: 1px solid #e6edf4;
  /*background-color: rgba(145,130,186,.3);*/
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 15px;
  margin-left: 21.5%;
  font-size: 85%;
  border-bottom: 1px solid #e6edf4;
}

.album_description_bold {
  margin-top: 25px;
  margin-left: 20%;
  font-weight: bold;
  font-size: 95%;

}

.album-title-bold {
  font-weight: bold;
}

.album-title {
  font-size: 130%;
}

.idfollow {
  margin-top: 11.5%;
}

.ordertotal {
  margin-top: 1.5%;
  text-align: right;
}

.albums-songs-id {
  margin-bottom: 1%;
}

.header-buttons {
  display: flex;
}

.header-buttons > * {
  margin-left: 12px;
}