*,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #1e1e21;
}

.page {
  width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #5d309a;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

label {
  display: block;
}

a.button {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #e6edf4;
  border-radius: 2px;
  font-size: 14px;
}

.pagination-bar {
  width: 150px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.pagination-button {
  height: 30px;
  line-height: 30px;
  width: 70px;
  border: 1px solid #e6edf4;
  border-radius: 2px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.add-button {
  min-width: 100px;
}

#navbar {
  height: 55px;
  margin: 0px;
  background: #9182ba;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a {
  color: white;
}

.nav-body {
  width: 1200px;
  padding: 42px 12px;
  display: flex;
  justify-content: space-between;
}

#logo {
  opacity: 1;
  font-size: 20px;
  margin-right: 12px;
}

.nav-link {
  margin-left: 24px;
}

.flashes {
  background: #ffd2d2;
  border: 1px solid #ff0101;
  padding: 12px;
  list-style-type: none;
  margin-bottom: 32px;
}

form > input {
  margin-bottom: 12px;
}

.table {
  margin-top: 24px;
  width: 100%;
  table-layout: auto;
}

.header-row {
  font-size: 15px;
  padding-bottom: 15px;
}

.row {
  width: 100%;
  padding: 8px 0px;
  color: #7d8998;
  display: flex;
  text-align: left;
  border-bottom: 1px solid #e6edf4;
}

.col {
  height: 40px;
  width: 10%;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0px 8px;
  flex: 1 1 auto;
}

.col:last-of-type {
  justify-content: flex-end;
}

.item-row {
}

h2 {
  margin-bottom: 24px;
  margin-top: 42px;
}

.breadcrumbs {
  font-size: 16px;
  display: flex;
}

.crumb-separator {
  margin: 0px 12px;
}

.header {
  margin-top: 32px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-song .col:first-of-type {
  flex: 0 0 450px;
}

.table-song .col:nth-child(2) {
  flex: 0 0 200px;
}

.table-song .col:nth-child(3) {
  flex: 0 0 150px;
}

.table-song .col:nth-child(4) {
  flex: 0 0 100px;
}

.table-song .col:nth-child(5) {
  flex: 0 0 100px;
}
