{% extends "layout.html" %} {% block page %}
{% from "ratings.html" import ratings_table %}
{% from "songs/table.html" import songs_table %}
{% from "tags.html" import tag_list %}

<div class="header">
  <div class="breadcrumbs">
    <a href="/" class="crumb">SoundFront</a>
    <div class="crumb-separator">›</div>
    <a href="/songs" class="crumb">Songs</a>
    <div class="crumb-separator">›</div>
    <div class="crumb">{{ song.Title }}</div>
  </div>
</div>

<div class="details">
  <h2>Details</h2>
  <div class="desc-item">
    <b>Title:</b> {{ song.Title }}
  <div class="desc-item">
    <b>Artist:</b> {{ song.Artist }}
  </div>
  <div class="desc-item">
    <b>Album:</b> {{ song.AlbumTitle or 'None'}}
  </div>
  <div class="desc-item">
    <b>Length:</b> {{ song.Length|duration }}
  </div>
  <div class="desc-item">
    <b>Uploaded:</b> {{ song.UploadDate.strftime("%m/%d/%Y") }}
  </div>
  <div class="desc-item">
    <b>Price:</b> {{ song.Price }}
  </div>
</div>

<div class="song-detail-description">
  <h2>Description</h2>
  <div class="song-description">
    {{ song.Description or 'No description provided.'}}
  </div>
</div>

<h2>Tags</h2>

<div class="tags">
	{% for tag in tags %}
		<a class="tags-link" href="/tags/{{tag.TagID}}">
			<div class="tag">
				<div class="tag-name">{{tag.Name}}</div>
			</div>
		</a>
	{% endfor %}
</div>


<div class="similar-songs">
  <h2>Similar Songs</h2>
<table class="table table-similar-songs">
  <tr class="header-row row">
    <th class="header-col col">Title</th>
    <th class="header-col col">Similar Tags</th>
  </tr>
  {% for song_id in similar_songs %}
  <tr class="row item-row">
    <th class="col">
      <a href="">{{ similar_songs[song_id].Title }}</a>
    </th>
    <th class="col">
      {{ tag_list(similar_songs[song_id]['tags']) }}
    </th>
  </tr>
  {% endfor %}
</table>
</div>


<div class="similar-songs">
  <h2>Ratings</h2>
  {{ ratings_table(ratings) }}
</div>



{% endblock %}
