{% extends "layout.html" %} {% block page %}

<table class="table">
  <tr class="header-row">
    <th class="header-col">Title</th>
    <th class="header-col">Artist</th>
    <th class="header-col">Album</th>
    <th class="header-col">Length</th>
    <th class="header-col">Price</th>
    <th class="header-col"></th>
  </tr>

  {% for song in songs %}
  <tr class="row">
    <th class="col">{{ song.Title }}</th>
    <th class="col">1</th>
    <th class="col">1</th>
    <th class="col">1</th>
    <th class="col">1</th>
    <th class="col">1</th>
  </tr>
  {% endfor %}

</table>

<a href="/songs/new" class="button">Add a song</a>

{% endblock %}
