{% extends "layout.html" %} {% block page %}

<table class="table">
  <tr class="header-row">
    <th class="header-col">Title</th>
    <th class="header-col">Artist</th>
    <th class="header-col">Album</th>
    <th class="header-col">Length</th>
    <th class="header-col">Price</th>
    <th class="header-col"></th>
  </tr>

  {% for song in songs %}
  <tr class="row">
    <th class="col">{{ song.Title }}</th>
    <th class="col">{{ song.Artist }} </th>
    <th class="col">{{ song.AlbumTitle or '-' }}</th>
    <th class="col">{{ song.Length }}</th>
    <th class="col">{{ song.Price }}</th>
    <th class="col"></th>
  </tr>
  {% endfor %}
</table>

{% if page-1 > 0 %}
  <a href="{{ page - 1 }}" class="button">Previous Page</a> | 
{% endif %} 

<a href="{{ page + 1 }}" class="button">Next Page</a> |

<a href="/songs/new" class="button">Add a song</a>

{% endblock %}
