{% extends "layout.html" %} 
{% block page %}

<div class="header">
  <div class="breadcrumbs">
    <a href="/" class="crumb">SoundFront</a>
    <div class="crumb-separator">›</div>
    <a href="/songs" class="crumb">Songs</a>
    <div class="crumb-separator">›</div>
    <div class="crumb">Add a song</div>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post" class="form">
  <label>Title</label>
  <input type="text" name="title" id="title" value="{{ request.form.title }}"/ autofocus>

  <label>Album (optional)</label>
  <select name="album" id="album" value="{{ request.form.album }}">
    {% if not albums == [] %}
      {% for album in albums %}
        <option value="{{ album.AlbumID }}">{{ album.Title }}</option>
      {% endfor %}
    {% endif %}
  </select>
  <div class="album-create-link"><a href="/albums/new">Create an album</a></div>

  <label>Length (seconds)</label>
  <input type="text" name="length" id="length" value="{{ request.form.length }}"/>

  <label>Price</label>
  <input type="text" name="price" id="price" value="{{ request.form.price }}"/>

  <label>Description (optional)</label>
  <textarea name="description"cols="60" rows="8" value="{{ request.form.description }}"></textarea>

  <button type="submit">Submit</button>
</form>

{% endblock %}
