{% macro song_table(songs, cart=[]) %}
<table class="table table-song">
  <tr class="header-row row">
    <th class="header-col col">Title</th>
    <th class="header-col col">Artist</th>
    <th class="header-col col">Album</th>
    <th class="header-col col">Length</th>
    <th class="header-col col">Price</th>
    <th class="header-col col"></th>
  </tr>
  {% for song in songs %}
  <tr class="row item-row">
    <th class="col">
      <a href="/songs/{{ song.SongID }}">{{ song.Title }}</a>
    </th>
    <th class="col"><a href="/users/{{ song.UserID }}">{{ song.Artist }}</a>
    </th>
    {% if song.AlbumTitle %}
    <th class="col"> <a href="/albums/{{ song.AlbumID }}">{{ song.AlbumTitle }}</a>
    </th>
    {% else %}
    <th class="col">-</th>
    {% endif %}
    <th class="col">{{ song.Length|duration }}</th>
    <th class="col">${{ song.Price }}</th>
    <th class="col">
      <a href="/songs/{{ song.SongID }}/rate" class="button">Rate</a>

      {% if not in_cart(song, cart, 'Song') %}
        <form action="/cart/" method="post">
          <input type="text" class="hidden" name="songid" value="{{ song.SongID }}">
          <input type="text" class="hidden" name="type" value="Song">
          <button class="button" type="submit">Add to cart</button>
        </form>
      {% endif %}
    </th>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
