{% extends "layout.html" %} 
{% block page %}

<h1>Registration </h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post">
  <label for="username">Email</label>
  <input type="text" name="email" id="email" value="{{ request.form.email }}"/>

  <label for="username">Display Name</label>
  <input type="text" name="name" id="name" value="{{ request.form.name }}"/>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" />

  <label for="password">Repeat password</label>
  <input type="password" name="password_repeat" id="password-repeat" />

  <button type="submit">Submit</button>
</form>

{% endblock %}
