{% extends "layout.html" %}
{% block page %}

 <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">


<div class="header">
	<div class="breadcrumbs">
		<a href="/" class="crumb">SoundFront</a>
		<div class="crumb-separator">›</div>
		<a href="/albums" class="crumb">Albums</a>
		<div class="crumb-separator">›</div>
		<div class="crumb">{{ album.Title }}</div>
	</div>
</div>

<div class="album albumidpage">
    <div class="album-art">
        <img src="https://placekitten.com/g/200/200">
    </div>
    <div class="album-title">{{album.Title}}</div>
    <div class="album-artist">{{album.DisplayName}}</div>
</div>

{% with songs=album_songs %}
  {% include "songs/table.html" %}
{% endwith %}


{% endblock %}
