{% from "songs/table.html" import song_table %}
{% extends "layout.html" %}
{% block page %}

 <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">


<div class="header">
	<div class="breadcrumbs">
		<a href="/" class="crumb">SoundFront</a>
		<div class="crumb-separator">›</div>
		<a href="/albums" class="crumb">Albums</a>
		<div class="crumb-separator">›</div>
		<div class="crumb" style="color: #7d8998">{{ album.Title }}</div>
	</div>

	<div class="header-buttons">
		<a href="/albums/{{ album.AlbumID}}/rate" class="button">Rate album</a>
		{% if not in_cart(album, cart, 'Album') %}
			<form action="/cart/" method="post">
				<input type="text" class="hidden" name="albumid" value="{{ album.AlbumID }}">
				<input type="text" class="hidden" name="type" value="Album">
				<button class="button" type="submit">Add album to cart</button>
			</form>
		{% endif %}
	</div>
</div>

<div class="album albumidpage">
	<img class="album-art" src="{{ album.AlbumArt }}">
    <div class="album-title album-title-bold">{{album.Title}}</div>
    <div class="album-artist">{{album.DisplayName}}</div>
</div>
<div class="album_description album_description_bold">Description</div>

<div class="album-description">{{album.Description}}</div>

<div class="albums-songs-id">
{{ song_table(album_songs, cart) }}

{% endblock %}
</div>
