{% from "songs/table.html" import song_table %}
{% extends "layout.html" %}
{% block page %}
{% from "ratings.html" import ratings_table %}
{% from "tags.html" import tag_list %}

 <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">


<div class="header">
	<div class="breadcrumbs">
		<a href="/" class="crumb">SoundFront</a>
		<div class="crumb-separator">›</div>
		<a href="/albums" class="crumb">Albums</a>
		<div class="crumb-separator">›</div>
		<div class="crumb" style="color: #7d8998">{{ album.Title }}</div>
	</div>

	<div class="header-buttons">
		<a href="/albums/{{ album.AlbumID}}/rate" class="button">Rate album</a>
		{% if not in_cart(album, cart, 'Album') %}
			<form action="/cart/" method="post">
				<input type="text" class="hidden" name="albumid" value="{{ album.AlbumID }}">
				<input type="text" class="hidden" name="type" value="Album">
				<button class="button" type="submit">Add album to cart</button>
			</form>
		{% endif %}
	</div>
</div>

<div class="album-id">
	<div class="album-id-left">
		<img class="album-art" src="{{ album.AlbumArt }}">
    <div class="description">
      <div class="desc-item">
        <b>Name: </b> {{ album.Title }}
      </div>
      <div class="desc-item">
        <b>Artist: </b> <a href="/users/{{ album.UserID }}"> {{ album.DisplayName }}</a>
      </div>
      <div class="desc-item">
        <b>UploadDate:</b> {{ album.UploadDate.strftime("%m/%d/%Y") }}
      </div>
      <div class="desc-item">
        <b>Price: </b> ${{ album.Price }}
      </div>
    </div>
	</div>
	<div class="album-id-right">
		<h2>Description</h2>
		{{ album.Description or 'No description provided' }}

		<div class="album-tags">
			<h2>Tags</h2>
			{{ tag_list(tags) }}
		</div>

		<div class="album-songs">
			<h2>Songs</h2>
			{{ song_table(album_songs, cart) }}
		</div>

		<div class="similar-songs">
			<h2>Similar Albums</h2>
			<table class="table table-similar-songs">
			<tr class="header-row row">
				<th class="header-col col">Title</th>
				<th class="header-col col">Similar Tags</th>
			</tr>
			{% for album_id in similar_albums %}
			<tr class="row item-row">
				<th class="col">
					<a href="">{{ similar_albums[album_id].Title }}</a>
				</th>
				<th class="col">
					{{ tag_list(similar_albums[album_id]['tags']) }}
				</th>
			</tr>
			{% endfor %}
		</table>

		<div class="album-ratings">
			<h2>Ratings</h2>
			{{ ratings_table(ratings) }}
		</div>
	</div>


</div>
</div>


{% endblock %}
</div>
