{% from "pagination.html" import pagination_bar, add_button %}
{% extends "layout.html" %}
{% block page %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">

<table class="table">
  <tr class="header-row">
    <th class="header-col">Albums</th>
  </tr>
</table>

<div class="albums">
	{% for album in albums %}
		<a class="album-link" href="{{ '/albums/%s'%album.AlbumID }}">
			<div class="album">
				<div class="album-art">
					<img src="https://placekitten.com/g/150/150">
				</div>
				<div class="album-title">{{album.Title}}</div>
				<div class="album-artist">{{album.DisplayName}}</div>
			</div>
		</a>
	{% endfor %}
</div>

<div style="margin-top: 10px"></div>

{{ pagination_bar(pagination_data.href, pagination_data.page) }}
{{ add_button(pagination_data.href, pagination_data.add_button_text) }}

{% endblock %}
