{% extends "layout.html" %}
{% block page %}

<div class="header">
	<div class="breadcrumbs">
		<a href="/" class="crumb">SoundFront</a>
		<div class="crumb-separator">›</div>
		<a href="/albums" class="crumb">Albums</a>
		<div class="crumb-separator">›</div>
		<div class="crumb">Add an album</div>
	</div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post" class="form">
  <label>Title</label>
  <input type="text" name="title" id="title" value="{{ request.form.title }}"/>

  <label>Price</label>
  <input type="text" name="price" id="price" value="{{ request.form.price }}"/>

  <label>Description (optional)</label>
  <input type="text" name="description" id="description" value="{{ request.form.description }}"/>

  <button type="submit">Create album</button>
</form>

{% endblock %}