{% macro album_table(albums) %}

<div class="albums">
	{% for album in albums %}
		<a class="album-link" href="{{ '/albums/%s'%album.AlbumID }}">
			<div class="album">
				<div class="album-art">
					<img src="{{ 'https://loremflickr.com/200/200?random=%s'%album.AlbumID }}">
				</div>
				<img class="album-art" src="{{ album.AlbumArt }}">
				<div class="album-title">{{album.Title}}</div>
				<div class="album-artist">{{album.DisplayName}}</div>
			</div>
		</a>
	{% endfor %}
</div>

{% endmacro %}