{% from "pagination.html" import pagination_bar %}
{% from "songs/table.html" import song_table %}
{% extends "layout.html" %}
{% block page %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <div class="header">
	<div class="breadcrumbs">
	  <a href="/" class="crumb">SoundFront</a>
	  <div class="crumb-separator">›</div>
	  <a href="/tags" class="crumb">Tags</a>
      <div class="crumb-separator">›</div>
	  <div class="crumb">{{tag.Name}}</div>
	</div>

    </div>

	<div class="tag_songs">
		{{ song_table(tag_songs) }}
	</div>


    {{ pagination_bar(pagination_data.href, pagination_data.page) }}

{% endblock %}
